<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %> 
  <body class="body">
    <script src="https://www.paypal.com/sdk/js?client-id=<%= paypal %>"></script>
    <% include ./partials/header.ejs %> 
    <div id="ruta" class="ruta"><p class="rselect">Order Detail</p></div>
    <div class="checkbody">
    <div id="cartproductscontainer" class="checkinfo">
    </div>  
    <div id="addcontainerborder" class="checkinfo">
    <input id="User_Id" type="hidden" name="" value="<%= user.id %> ">
    <div id='addcontainer'>
    <div><select name="" id="addressvalue">
        <option value="block">Selecciona una dirección</option>
        <% for( let index = 0; index < user.direccionesusuario.length; index++ ) { %>
        <option value="<%= user.direccionesusuario[index].id%>"><%= user.direccionesusuario[index].Adress %> - <%= user.direccionesusuario[index].City %></option>
        <% } %>
        <option value="n/a">Nueva dirección</option>
    </select></div>
    <form action="/users/user/address/add" method="POST" id="addsubmit">
        <div class="name">
        <label for="Name">Dirección</label>
        <input type="text" name="Adress" id="Address" value="" disabled>
        <label for="Surname">Province</label>
        <select name="Province" id="Provselect" disabled>
        </select>
        <label for="Surname">City</label>
        <select name="City" id="Cityselect" disabled>
        </select>
        <label for="Surname">Zip Code</label>
        <input id="Zip_Code" type="text" name="Zip_Code" id="Address" value="" disabled>
        <input type="hidden" name="User_Id" value="<%= user.id %>">
        </div>
        <div id="paypal"></div> 
      </form>
      </div>
    </div>
</div>
  </body>
  <script src="/javascript/checkout.js"></script>
  <footer>
    PIe de pagina
  </footer>