<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %> 
  <body class="bod">
    <% include ./partials/header.ejs %> 
    <input type="hidden" name="" id="categoryId" value="<%= data[0].Subcategory %> ">
    <div class="filterbody">
      <div class="filteroptions">
      <div class="filterinput">
        <input id="range" type="range" value="0" min="0" max="<%= max %>" list="tickmarks">
        <datalist id="tickmarks">
          <% for( let index = 0; index < (max/1000); index++ ) { %>
            <option value="<%= index*1000 %>">
          <% } %>
        </datalist>
        <div id="rangevalue" class="rangevalue"></div>
      </div>
      <div class="filterlist">
        <select name="" id="categoryfilter">
          <option value="0">Elige una categoria</option>
          <% for( let index = 0; index < filter.length; index++ ) { %>
            <option id="catoption" value="<%= filter[index].id %>"><%= filter[index].Name %> </option>
          <% } %>
        </select>
        <div id="priceup" style="margin-left: 3%;"><i class="fa-solid fa-arrow-up-9-1"></i></div>
        <div id="pricedown" style="margin-left: 3%;"><i class="fa-solid fa-arrow-down-1-9"></i></div>
      </div>
      </div>
      <div class="routescontainer"><a style="text-decoration: none; color: grey;" ><%= cat %> </a><a id="categoryfilterroute" style="text-decoration: none; color: grey;"></a> </div>
    <div id="filtercontet" class="filteredcontent"> 
      <% for( let index = 0; index < data.length; index++ ) { %>
        <% for( let e = 0; e < data[index].Produtspercategory.length; e++ ) { %>
          <div id="rowlist" class="rowcontainer">
            <div class="imgcontainer">
              <div class="filterimg">
                <img id="cardimg" src="/images/<%= data[index].Produtspercategory[e].Picturesperproduct[0].Name %>" alt="">
            </div>
            </div>
            <a href="/product/detail/<%= data[index].Produtspercategory[e].id  %>" class="titlecontainer" style="text-decoration: none;" >
            <div class="titlecontainer"><h1><%= data[index].Produtspercategory[e].Name %> </h1></div></a>
              <a href="/product/detail/<%= data[index].Produtspercategory[e].id  %> " class="pricecontainer" style="text-decoration: none;" >
              <div class="pricecontainer">
             <div class="searchprice">$<%= formatNumber(data[index].Produtspercategory[e].Price) %> </div>
            </div></a>
        </div>
        <% } %>
      <% } %>
    </div>
     </div>
     </div>
  </body>
  <script src="/javascript/gencatsearchcontent.js"></script>
  <footer>
    PIe de pagina
  </footer>
