<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head.ejs %> 
<body>
    <% include ./partials/header.ejs %> 
    <div class="category" style="margin-left: 3%;height: 3vh; line-height: 3vh;margin-top: 3%;font-size: 140%;color: grey;"><a style="text-decoration: none; color: grey;" href="/product/gencatsearch/<%= cat1.id %>"><%= cat1.Name %></a> > <a href="/product/search/<%= prod.CategoryperProduct.id %>" style="text-decoration: none; color: grey;"><%= prod.CategoryperProduct.Name %> </a> </div>
    <div class="detailbody">
        <div class="detailimg">
            <div class="fade" >
                <% for( let index = 0; index < prod.Picturesperproduct.length; index++ ) { %>
                    <div id="imgslickcontainer"><img id="imgslick" src="/images/<%= prod.Picturesperproduct[index].Name%>" alt="" srcset=""></div>
                <% } %>
              </div>
        </div>
        <div class="detaildetail">
            <div class="detailtitle"><h1><%= prod.Name %> </h1></div>
            <div class="detailprice">$<%= formatNumber(prod.Price) %> </div>
            <input type="hidden" id="stockvalue" name="" value="<%= prod.Stock %>">
            <div class="detailstock">stock disponible: <%= prod.Stock %> </div>
            <div class="detailcounter">
                <div id="countsus" class="counterbut"><i class="fas fa-minus"></i></div>
                <div id="countvalue" class="countervalue">1</div>
                <div id="counteradd" class="counterbut"><i class="fas fa-plus"></i></div>
            </div>
            <div class="detailaddcart">
                <form  action="">
                <button type="submit">Agregar al carrito</button>
                </form>
                <form style="display: none;" action="">
                <button type="submit">Comprar</button>
                </form>
            </div>
            <div style="display: none;">comprar</div>
        </div>
    </div>
    <div class="detailextra">
        <div class="description">
            <h1>Descripción</h1>
            <p><%= prod.Description %> </p>
        </div>
        <div class="comments">
            <div class="stars">
                <% for( let index = 0; index < 3; index++ ) { %>
                    <i id="starok" class="fas fa-star" style="color: rgb(190, 238, 190);"></i> <% } %>
                <% for( let index = 0; index < 3; index++ ) { %>
                        <i class="fas fa-star" style="color: rgb(168, 168, 168);"></i> <% } %>
            </div>
            <div class="comment">
                <% for( let index = 0; index < 3; index++ ) { %>
                    <div class="commentcard">
                     <h2>  
                    <% for( let index = 0; index < 5; index++ ) { %>
                    <i class="fas fa-star"></i>                                    <% } %></h2>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam animi soluta adipisci odit quidem corrupti consequuntur, nemo amet facere suscipit, rerum fugiat? Quibusdam neque at iure necessitatibus rem. Cum dignissimos enim quas nostrum. Reiciendis ipsam numquam quod molestias commodi quas possimus quibusdam blanditiis perferendis magni temporibus, nisi fugiat, velit est provident voluptatum dolorum ut dolore soluta non. Ipsa, adipisci aut quam corrupti expedita doloremque cupiditate tempora totam illo, culpa facilis molestias eaque excepturi, pariatur nam unde incidunt error! Voluptatum quod mollitia perferendis aliquam explicabo odio, commodi numquam quisquam vitae sapiente vel beatae voluptatibus minima eius ut cupiditate, nam aperiam quas!</p>
                </div></div>   <% } %>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdn.bootcss.com/slick-carousel/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.fade').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
        });
      });
    </script>
    </body>
<script src="/javascript/productdetail.js"></script>
</html>