<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %> 
  <body class="bod">
    <% include ./partials/header.ejs %> 
    <input type="hidden" name="" id="categoryId" value="<%= data.id %> ">
    <div class="filterbody">
      <div class="filteroptions">
      <div class="filterinput">
        <input id="range" type="range" value="0" min="0" max="<%= max %>" list="tickmarks">
        <datalist id="tickmarks">
          <% for( let index = 0; index < (max/1000); index++ ) { %>
            <option value="<%= index*1000 %>">
          <% } %>
        </datalist>
        <div id="rangevalue" class="rangevalue"></div>
      </div>
      <div class="filterlist">
      <div id="priceup"><i class="fa-solid fa-arrow-up-9-1"></i></div>
      <div id="pricedown" style="margin-left: 10%;"><i class="fa-solid fa-arrow-down-1-9"></i></div>
      </div>
      </div>
    <div class="routescontainer"><a style="text-decoration: none;" href="/product/gencatsearch/<%= filter.id %>"><%= filter.Name %></a><a style="text-decoration: none; color: grey;"> > <%= data.Name %></a></div>
    <div id="filtercontet" class="filteredcontent"> 
      <% for( let index = 0; index < data.Produtspercategory.length; index++ ) { %>
        <div id="rowlist" class="rowcontainer">
            <div class="imgcontainer">
              <div class="filterimg">
                <img id="cardimg" src="/images/<%= data.Produtspercategory[index].Picturesperproduct[0].Name %>" alt="">
            </div>
            </div>
            <a href="/product/detail/<%= data.Produtspercategory[index].id  %> " class="titlecontainer" style="text-decoration: none;" >
            <div ><h1><%= data.Produtspercategory[index].Name %> </h1></div></a>
            <a href="/product/detail/<%= data.Produtspercategory[index].id  %> " class="pricecontainer" style="text-decoration: none;" > <div class="pricecontainer">
             <div class="searchprice">$<%= formatNumber(data.Produtspercategory[index].Price) %> </div>
            </div></a>
        </div>
      <% } %>
    </div>
     </div>
     </div>
  </body>
  <script src="/javascript/subcatsearchcontent.js"></script>
  <footer>
    PIe de pagina
  </footer>
